@model DeviceViewModel
@{
    ViewData["Title"] = "Device List";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <a role="button" class="btn btn-outline-success fw-semibold my-3" asp-controller="Devices" asp-action="AddDevice">Add New Inventory</a>

    <form asp-controller="Devices" asp-action="DeviceList" method="get">
        <p>
            <label>Search: <input type="text" name="SearchString" /></label>
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table table-dark table-hover" style="border-collapse: separate; border-spacing: 0; width: 100%;">
        <thead style="background-color: #343a40; color: #ffc107;">
            <tr>
                <th scope="col" style="padding: 15px; font-weight: 600; text-align: center;">ID</th>
                <th scope="col" style="padding: 15px; font-weight: 600; text-align: center;">Name</th>
                <th scope="col" style="padding: 15px; font-weight: 600; text-align: center;">Description</th>
                <th scope="col" style="padding: 15px; font-weight: 600; text-align: center;">Status</th>
                <th scope="col" style="padding: 15px; font-weight: 600; text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Device device in Model.Devices)
            {
                <tr style="transition: background-color 0.3s ease;">
                    <td style="padding: 10px; text-align: center;">@device.Id</td>
                    <td style="padding: 10px; text-align: center;">@device.Name</td>
                    <td style="padding: 10px; text-align: center;">@device.Description</td>
                    <td style="padding: 10px; text-align: center;">@device.Status.Name</td>
                    <td style="padding: 10px; text-align: center;">
                        <div class="d-inline-flex gap-2">
                            <a role="button" class="btn btn-outline-warning fw-semibold d-inline-flex align-items-center py-2 px-3"
                               asp-controller="Devices" asp-action="EditDevice" asp-route-id="@device.Id">Edit</a>
                            <form asp-action="DeleteConfirmed" method="post">
                                <input type="hidden" name="@nameof(Device.Id)" value="@device.Id" />
                                <button type="submit" class="btn btn-outline-danger fw-semibold d-inline-flex align-items-center py-2 px-3">Remove</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
